*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    height: 200px;
}
@media  screen and (max-width:1111px) {
    header{
        height: 250px;
    }
}
@media screen and (max-width:654px) {
    header{
        height: 200px;
    }
}
.logo{
    float: left;
}
.logo img{
    height: 100px;
    margin-top: 10%;
    margin-left: 10%;
}
@media  screen and (max-width:1111px) {
    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        margin-top: 4%;
    }
}
@media screen and (max-width:654px) {
    .logo{
        margin-left: 0%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .logo img{
        margin-top: 0%;
        margin-left: 0%;
        float: left;
    }
}
.sublink{
    float: left;
    width: 50%;
    margin-left: 13%;
    margin-top: 6%;
}
.sublink a{
    padding-left: 10%;
    text-decoration: none;
    color: black;
    float: left;
}
.sublink a:hover{
    color: rgb(78, 183, 78);
    transition: 1s;
    
}
@media screen and (max-width:1253px) {
    .sublink{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .sublink a{
        margin-right: 13%;
        margin-top: 1%;
    }
}
@media  screen and (max-width:1111px) {
    .sublink{
        width: 100%;
        margin-left: 0%;
        margin-top: 6%;
    }
    .sublink a{
        width: 600px;
        text-align: center;
        padding-left: 1%;
        margin-right: 2% ;
    }
}
@media screen and (max-width:411px){
    header{
        height: 165px;
    }
    .sublink a{
        font-size: 15px;
    }
}
.line{
    background-color: rgb(34, 238, 65);
    height: 3px;
    width: 100%;
}
nav{
    width: 100%;
    margin: 0px;
    height: 500px;
    align-content: center;
}
.self{
    width: 50%;
    float: left;
}
.self h1{
    text-align: center;
}
.self p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.self button{
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 250);
    border-radius: 5px;
    cursor: pointer;
    border-width: 0px;
    height: 30px;
    margin-left: 35%;
}
.self button:hover{
    background-color: rgb(230, 230, 237);
    transition: 2s;
    color: rgb(56, 56, 250);
}
.image{
    float: left;
    width: 50%;
}
.image img{
    width: 100%;
}
.self a i{
    margin-left:10%;
    text-decoration: none;
}
@media screen and (max-width:654px) {
    nav{
        height: 600px;
        
    }
    .self{
        width: 100%;
        margin-top: 0%;
        height: 230px;
    }
    .self p{
        text-align: start;
    }
    .image{
        background-color: yellow;
        width: 100%;
        height: 250px;
    }
    .image img{
        height: 250px;
    }
}
.project{
    color: rgb(57, 59, 58);
    height: 600px;
    
   
}
.pro{
    border: 2px solid rgb(51, 48, 48);
    background-color: aqua;
    height: 250px;
    width: 24%;
    border-radius: 10px;
    float: left;
    margin: 6px;
    overflow: hidden;
}
.pro img{
    height: 100%;
    width: 100%;
    transition: 1s;
}
.pro img:hover{
    width: 120%;
    height: 120%;
    transition: 2s;
}
@media screen and (max-width:1229px){
    .pro{
        width: 32%;
        height: 210px;
    }
    .pro1{
        width: 48.5%;
    }
    .project{
        height: 750px;
    }
}
@media screen and (max-width:928px){
    .pro1{
        width: 23%;
    }
    .pro{
        width: 23%;
        height: 200px;
    }
    .project{
        height: 520px;
    }
    
}
@media  screen and (max-width:630px) {
    .pro{
        width: 31%;
    }
    .pro1{
        width: 47.5%;
    }
    .project{
        height: 720px;
    }
}
@media screen and (max-width:544px) {
    .pro{
        width: 47%;
        height: 170px;
    }
    .project{
        height: 820px;
    }
}
@media screen and (max-width:429px) {
    .pro{
        width: 46.5%;
        height: 150px;
    }
    .project{
        height: 730px;
    }
}
.line1{
    background-color: rgb(73, 63, 222);
    height: 3px;
    width: 100%;
}
.skill{
    columns: 1;
}
.skill h3{
    color: rgb(57, 59, 58);
}